@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_colors.scss";
@import "_headings.scss";

body {
      main {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            section.items-container {
                  width: 75%;
                  padding: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-around;
                  
                  .items {
                        width: 300px;
                        height: max-content;
                        text-align: center;

                        border: 2px solid $secondary;
                        border-radius: 20px;

                        img {
                              height: 300px;
                              max-width: 100%;
                              width: auto;
                        }

                        footer {
                              display: flex;
                              flex-direction: row;
                              flex-wrap: wrap;
                              justify-content: space-between;
                              padding: 10px 15px;

                              div.likes-cont {
                                    width: 40%;
                                    text-align: left;
                              }

                              div.author-cont {
                                    width: 60%;
                                    text-align: right;
                              }

                              form {
                                    width: 100%;
                                    margin-top: 10px;

                                    input[type='submit'] {
                                          background-color: $secondary;
                                    }
                              }
                        }
                  }
            }

            section.infos-container {
                  width: 25%;
                  height: 100vh;
                  max-height: 100vh;
                  border-right: 5px solid $secondary;

                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  text-align: center;

                  padding: 20px 10px 50px 10px;

                  ul {
                        list-style: none;
                  }

                  ul.stats-list {
                        margin-top: 30px;
                  }
            }
      }



      main.item-main {
            .flex-row {
                  display: flex;
                  flex-direction: row;
            }
      
            .item-left {
                  div.carousel {
                        div.img-cont-left {
                              img {
                                    width: 400px;
                                    height: auto;
                              }
                        }
      
                        div.img-cont-right {
                              display: flex;
                              flex-direction: column;
      
                              img {
                                    width: 190px;
                                    height: auto;
                                    margin: 5px 10px;
                              }
                        }
                  }
      
                  div.item-more {
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 80px;
                        height: max-content;
                        width: 100%;
      
                        .likes-cont {
                              font-size: 28px;
                        }
                        input[type='submit'] {
                              background-color: $love;
                        }
                  }
      
                  footer {
                        justify-content: space-between;
                        padding: 10px 80px;
                  }
            }
      }

      input[type='submit'] {
            padding: 5px 12px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
      }


      // CONST

      .likes-cont {
            color: $love;
            font-weight: bold;
      }

      .author-cont {
            font-style: italic;
            color: gray;
      }

      .likes-cont, .author-cont {
            i {
                  margin-right: 5px;
            }
      }

      .socials-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;

            i {
                  font-size: 40px;
                  margin: 0 5px;
            }
      }

      .facebook {
            color: $facebook;
      }

      .twitter {
            color: $twitter;
      }

      .linkedin {
            color: $linkedin;
      }

      .github {
            color: $github;
      }

      .gmail {
            color: $gmail;
      }

      .not-displayed {
            display: none;
      }
}