@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_colors.scss";
@import "_headings.scss";

body {
      main {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            section {

            }

            section.items-container {
                  width: 75%;
                  padding: 20px;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: space-around;
                  
                  .items {
                        width: 300px;
                        height: max-content;
                        text-align: center;

                        border: 2px solid $secondary;
                        border-radius: 20px;

                        img {
                              height: 300px;
                              width: auto;
                        }

                        footer {
                              display: flex;
                              flex-direction: row;
                              flex-wrap: wrap;
                              justify-content: space-between;
                              padding: 10px 15px;

                              div.likes-cont {
                                    color: $love;
                                    font-weight: bold;
                                    text-align: left;
                                    width: 40%;
                              }

                              div.author-cont {
                                    text-align: right;
                                    font-style: italic;
                                    color: gray;
                                    width: 60%;
                              }

                              div {
                                    i {
                                          margin-right: 5px;
                                    }
                              }

                              form {
                                    width: 100%;
                                    margin-top: 10px;

                                    input[type='submit'] {
                                          padding: 5px 12px;
                                          font-size: 20px;
                                          font-weight: bold;
                                          background-color: $secondary;
                                          color: white;
                                          text-transform: uppercase;
                                    }
                              }
                        }
                  }
            }

            section.infos-container {
                  width: 25%;
                  height: 100vh;
                  border-right: 5px solid $secondary;

                  text-align: center;
                  ul {
                        list-style: none;
                  }

                  ul.stats-list {
                        margin-top: 30px;
                  }
            }
      }

      .not-displayed {
            display: none;
      }
}